<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="workNodeSection" type="OrderProcessing.Configuration.WorkNodeConfiguration,Configuration" />
    <section name="loggings" type="OrderProcessing.Logger.LoggingSection,Logger" />
  </configSections>
  <appSettings>
    <add key="WatchdogBaseAddress" value="http://localhost:8765" />
    <add key="RequestSpawner" value="true" />
    <add key="OverrideSQLRepository" value="false" />
    <add key="MockProcesstingSeconds" value="2" />
    <add key="ElasticSearchEndPoint" value="http://10.172.14.112:9200/"/>
  </appSettings>
  <loggings>
    <add name="Console" type="OrderProcessing.Logger.ConsoleLogger" level="Info" />
    <add name="ElasticLogger" type="OrderProcessing.Logger.ElasticLogger" level="Info" />
  </loggings>
  <connectionStrings>
    <add name="OrderDB" connectionString="Data Source=10.172.14.112;Initial Catalog=OrderDB;uid=webroot;pwd=webroot;timeout=1000;" />
  </connectionStrings>
  <workNodeSection maxWaitSecondsWhenStopping="30">
    <workNode maxConcurrentWorkingThreads="50" />
    <monitor heartBeatIntervalSeconds="5" maxNoHeartBeatIntervalSeconds="30" />
    <scheduler maxQueueLength="300" pullingTasksIntervalSeconds="5" pullingTasksEachTime="50" processingTimedOutSeconds="300" />
  </workNodeSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>