<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="workNodeSection" type="OrderProcessing.Configuration.WorkNodeConfiguration,Configuration" />
  </configSections>
  <connectionStrings>
    <add name="OrderDB"
         connectionString="Data Source=61.155.168.40;Initial Catalog=OrderDB;uid=webroot;pwd=Visa2015;timeout=100000;" />
  </connectionStrings>
  <workNodeSection>
    <workNode maxConcurrentWorkingThreads="10" />
    <monitor heartBeatIntervalSeconds="5" maxNoHeartBeatIntervalSeconds="30" />
    <scheduler maxQueueLength="1000" pullingTasksIntervalSeconds="2" pullingTasksEachTime="30"
               processingTimedOutSeconds="300" />
  </workNodeSection>
</configuration>